/* Genel Stiller */
body {
  /*+*/
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Header Stilleri */
.logo {
  /*+*/
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}

.logo-accent {
  /*+*/
  color: #2e2f42;
}

.logo-accents {
  /*+*/
  color: #2e2f42;
}

.nav-link {
  /*+*/
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  /*+*/
  color: #404bbf;
}

.contact-info {
  /*+*/
  font-style: normal;
}

.contact-link {
  /*+*/
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  /*+*/
  color: #404bbf;
}

/* Ana Bölüm */
.hero {
  /*+*/
  background-color: #2e2f42;
}

.hero-title {
  /*+*/
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.hero-button {
  /*+*/
  background-color: #4d5ae5;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  /*+*/
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
}

/* Özellikler Bölümü */

.header-two {
  /*+*/
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.header-three {
  /*+*/
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.body-text {
  /*+*/
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}

/* Takım Bölümü */
.our-team {
  /*+*/
  background-color: #f4f4fd;
  text-align: center;
}

.team-member {
  /*+*/
  background-color: #ffffff;
  text-align: center;
}

.our-portfolio {
  /*+*/
  text-align: center;
}

.portfolio.item {
  /*+*/
  list-style-type: none;
}
/* Footer */

.footer-part {
  /*+*/
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.footer-part {
  /*+*/
  background-color: #2e2f42;
}
.logo-and {
  /*+*/
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-text {
  /*+*/
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
