/* Genel Stiller */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}

/* Header Stilleri */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-accent {
  color: #2e2f42;
}

.nav-list {
  list-style: none;
}

.nav-link {
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact-info {
  font-style: normal;
}

.contact-info a {
  color: #434455;
  text-decoration: none;
}

.contact-info li:first-child a {
  letter-spacing: 0.02em;
}

.contact-info a:hover,
.contact-info a:focus {
  color: #404bbf;
}

/* Ana Bölüm */
.hero {
  background-color: #2e2f42;
  color: white;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  background-color: #4d5ae5;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Özellikler Bölümü */
.feature-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.feature-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Takım Bölümü */
.team {
  background-color: #f4f4fd;
}

.team-member {
  background-color: #ffffff;
  list-style: none;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Portfolio Bölümü */
.portfolio-titletwo {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-text span {
  color: #2e2f42;
}
